*{
    margin: 0;
}



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
    background-image: url(/image/Hero-bg.png);
    height: 698px;
    
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.nav-title {
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
    margin-left: 150px;
    margin-top: 50px;
}
.nav-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    margin-right: 150px;
    margin-top: 51.5px;
} 

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 158px;
    margin-left: 267.5px;
    margin-right: 267.5px;
    text-align: center;
}
.div-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    margin-top: 37px;

}

.btn-content {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
}

.content-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.content-description {
    font-size: 24px;
    font-weight: 100px;
    color: rgba(37, 36, 50, 0.5);
    padding-top: 23px;
    padding-bottom: 23px;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-left: 141px;
    margin-right: 159px;
    margin-top: 123px;
}
.skill-title {
    font-size: 80px;font-weight: bold; color: #4E47FF;
}
.skill-description {
    font-size: 20px; font-weight: 100px; color: #000000;
}
.skill {
background-color: rgba(78, 71, 255, 0.1);
margin-left: 141px; margin-right: 159px; margin-top: 116px; border-radius: 35px;
}


.skill-allign {
    display: flex;
    justify-content: space-between;


}
.review-title {
    color: #757575;
}
.review-date {
    color: #B3B3B3;
}
.review-background {
   
    display: flex;
    gap: 20px;
    border: 1px;
    
    
   
    margin-left: 151px;
    margin-right: 149px;
    padding: 0;}

    .review-description {
        font-size: 11px; font-weight: 100px;
    }
    .review-love {
        font-size: 20px; font-weight: bold;
    }
.footer-style {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 92.23px;
}

.text-primary {
    list-style: none;
    display: flex;
    gap: 20px;
}
.background-last {
    background-color: white;
}